// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.loader-canvas {
    display: none;
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    z-index: 1050;
    width: 100vw;
    height: 100vh;

    .lds-circle {
        display: inherit;
        transform: translateZ(1px);
        position: fixed;
        top: 50%;
        right: 50%;

        & > div {
            display: inherit;
            width: 51px;
            height: 51px;
            margin: 6px;
            border-radius: 50%;
            background: #3c8dbc;
            animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }
    }

    @keyframes lds-circle {
        0%, 100% {
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }
        0% {
            transform: rotateY(0deg);
        }
        50% {
            transform: rotateY(1800deg);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }
        100% {
            transform: rotateY(3600deg);
        }
    }
}
